version: '3.8'

services:
  # PostgreSQL Database
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: football_db
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  # Backend API & Frontend (Served by NestJS Static or separate Nginx)
  app:
    build: .
    restart: always
    ports:
      - "3000:3000"
    environment:
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5432
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=mysecretpassword
      - POSTGRES_DB=football_db
      - DATABASE_URL=postgresql://postgres:mysecretpassword@db:5432/football_db
      - NODE_ENV=production
    depends_on:
      - db
    volumes:
      - ./uploads:/app/uploads

volumes:
  db_data:
